USE [MachineLearning]
GO
/****** Object:  Table [dbo].[yelp_labelled]    Script Date: 11/9/2022 10:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yelp_labelled](
	[Column1] [nvarchar](255) NULL,
	[Column2] [float] NULL
) ON [PRIMARY]
GO
